#contact {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -8rem; */
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 60vw;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: 1.5px solid #6751b9;
    border-radius: 0.6rem;
    background: #130f2a
}

.submitBtn {
    background: white;
    border: none;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
}

.submitBtn:hover {
    background: yellow;
}

.links {
    flex: 1;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    /* gap: 5px; */
}

.link {
    width: 2rem;
    height: auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.link:hover {
    transform: translateY(-1rem);
}

.tech-icon {
    background: #130f2a;
}

@media screen and (max-width: 720px) {
    #contact {
        margin-top: 0;
        /* margin-bottom: -4rem; */
    }
}