#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBar img {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
}

.skillBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
}

.hero-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.tech-icon {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.65rem;
    border: 0.5rem solid rgb(50, 50, 50);
    gap: 2rem;
}

.tech-icon img {
    width: 3rem;
    height: auto;
    transition: all 0.3s ease;
}

.tech-icon img:hover {
    transform: translateY(-0.5rem);
}

@media screen and (max-width: 890px){
    .skillBarText>p {
        font-size: 2vw;
    }

    .skillBarText>h2 {
        font-size: 3vw;
    }

    .skillBar img {
        height: 4rem;
        width: 4rem;
        margin-right: 1rem;
    }

    .skillDesc {
        font-weight: 300;
        font-size: 3vw;
    }
    
    .skillTitle {
        font-size: 5vw;
        font-weight: 500;
        padding-top: 2rem;
        margin-bottom: 1rem;
    }    
    
}